body {
  background-color: rgb(5, 10, 5);
}

.bg-dark {
  background-color: rgb(20, 25, 20) !important;
}

a:link {
  color: rgb(35, 200, 35);
}

.navbar-brand {
  text-decoration: underline;
}

.navbar-toggler {
  color: rgba(128,255,128,0.25) !important;
  border-color: rgba(128,255,128,0.25) !important;
  border: 2px solid !important;
}

a:visited {
  color: rgb(35, 200, 35);
}

a:hover {
  color: rgb(200, 35, 35);
}

a:active {
  color: rgb(35, 175, 70);
}

.card {
  border-radius: 0rem !important;
}

.no-bg {
  background-color: rgba(0,0,0,0) !important;
  border-radius: 0 !important;
  border: none !important;
}

.pg-bg {
  background-color: rgb(5, 10, 5) !important;
  border-radius: 0 !important;
  border: none !important;
}

.divr {
  border-top-color: rgba(128,255,128,0.25) !important;
  border-top-style: solid !important;
  border-top-width: 0.12rem !important;
  border-bottom-color: rgba(128,255,128,0.25) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.12rem !important;
}

.divr-t {
  border-top-color: rgba(128,255,128,0.25) !important;
  border-top-style: solid !important;
  border-top-width: 0.12rem !important;
}

.divr-b {
  border-bottom-color: rgba(128,255,128,0.25) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.12rem !important;
}

.full-h {
  min-height: 100vh;
  margin: 0 !important;
}

.fill-sm {
  width: 100%;
}

@media (min-width: 400px) {
  .fill-sm {
    max-width: 400px;
  }
}
