body {
  background-color: #131416;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(35, 101, 200);
}

a:active {
  color: white;
}

section {
  padding-top: 70px;
  margin-top: -50px;
}
