// Todos los estilos
// @import "../../node_modules/bootstrap/scss/bootstrap";

// Configuración básica
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Componentes
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";

// Helpers & Utilities
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

section {
  padding-top: 70px;
  margin-top: -70px;
}

.full-h {
  min-height: 100vh;
  margin: 0 !important;
}

.fill-sm {
  width: 100%;
}

@media (min-width: 400px) {
  .fill-sm {
    max-width: 400px;
  }
}
